*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    column-count: 3;
    column-rule: 4px solid red;
    column-rule-color:rgb(13, 255, 0) ;
    /* column-gap: 20px; */
    /* column-rule-style: dotted; */
    /* column-rule-width: 10px; */
    column-gap: 60px;
    text-align: justify;
}